 nav {
    display: none;
}

header {
    background-color: lightblue;
    color: black;
    display: block;
    font-size: 4em;
    text-align: center;
}
body {
    background-color: lightblue;    
}

.imagehomepage {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.imageportfolio {
    margin-top:2em ;
    margin-left:5em ;
    margin-right:10em ;
}

.shownav {
    height: 0.8em;
    width: 1em;
    display: block;
    border-top: 0.1em solid white;
    border-bottom: 0.1em solid white;
    border-radius: 0.1em;
}

.shownav:before {
    content: "";
    position: absolute;
    width: 100%;
    top: 0.3em;
    left: 0px;
    border-top: 0.2em solid white;
}